form input{
    padding: 10px;
    background: #ebebeb;
    border: transparent;
    border: 0.3px solid #CCC;
}

form input[type=submit] {
    background: #2ebaee;
    border: 0.3px;
    color: #fff;
    cursor: pointer;
}