.App {
  text-align: center;
}

.container {
  width: 50%;
  margin: 10% auto;
  @media (max-width: 900px) {
    width: 80%;
  }
  @media (max-width: 600px) {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.title-main {
  padding: 0;
  margin: 0px;
  margin-bottom: 20px;
}
